{% extends "layout.html" %}

{% block title %}
<title>
    It will not work
</title>
{% endblock %}

{% block body %}
     <h2 style="text-align: center; margin-top: 3.2%;"><strong> Sorry </strong></h2><br>
     <p>This will not work in {{device}} </p> <br> <p style="color: red;"> **This game Needs a mouse</p>
     <img src="../static/sentiment_dissatisfied_black_24dp.svg" alt="sad_face" width="20%" height="20%" class="center">
     <img src="../static/phonelink_erase_black_24dp.svg" alt="can't access" width="20%" height="20%" class="center">
{% endblock %}